<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cdkj.myxb">

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeAcitivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.user.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--消息列表-->
        <activity
            android:name=".module.common.MsgListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--美导预约-->
        <activity
            android:name=".module.shopper.ShopperAppointmentListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--美导预约-->
        <activity
            android:name=".module.shopper.ShopperAppointmentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
      <!--美导预约-->
        <activity
            android:name=".module.shopper.ShopperAppointmentOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
      <!--产品详情-->
        <activity
            android:name=".module.product.ProductDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
      <!--我的订单-->
        <activity
            android:name=".module.order.MyOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />


    </application>

</manifest>